blinker
click
colorama
dnspython
Flask
Flask-Login      
Flask-SQLAlchemy
Flask-WTF
greenlet
is-disposable-email
itsdangerous      
Jinja2
MarkupSafe
setuptools      
SQLAlchemy
typing_extensions
Werkzeug
WTForms
wtforms-validators
gunicorn