body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url(../static/BACKGND2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}


.add-product-form {
    background-color:none;
    padding: 30px;
    border-radius: 10px;

    max-width: 400px;
    width: 100%;
    text-align: center;
}

.add-product-form h2 {
    margin-bottom: 20px;
    color: #000000;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    text-transform: uppercase;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #218838;
}