<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Jersey Store</title>
    <link rel="stylesheet" href="../static/navbar.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="https://www.tbceducation.ge/" class="navbar-logo" target="_blank">
                <img src="../static/TBC.png" alt="Logo" style="height: 40px;">
            </a>
            <div class="navbar-menu">
                <a href="/" class="nav-link">Home</a>
                <a href="/store" class="nav-link">Store</a>
                <a href="/addproduct" class="nav-link">Add Product</a>
                <div class="dropdown">
                    <button class="nav-link dropdown-btn">Categories</button>
                    <ul class="dropdown-content">
                        <li><a href="/category/1">New Season</a></li>
                        <li><a href="/category/2">Special Edition</a></li>
                        <li><a href="/category/3">Retro</a></li>
                        <li><a href="/category/4">National Team</a></li>
                    </ul>
                </div>
            </div>
            <form class="navbar-auth">
                {% if current_user.is_authenticated %}
                    <a href="/logout" class="nav-link">Logout</a>
                {% else %}
                    <a href="/register" class="nav-link">Register</a>
                    <a href="/login" class="nav-link">Login</a>
                {% endif %}
            </form>
        </div>
    </nav>
            <!-- <div class="navbar-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div> -->

    <!--  <script>
        const mobileMenu = document.getElementById('mobile-menu');
        const navbarMenu = document.querySelector('.navbar-menu');
        const navbarAuth = document.querySelector('.navbar-auth');

        mobileMenu.addEventListener('click', () => {
            mobileMenu.classList.toggle('is-active');
            navbarMenu.classList.toggle('active');
            navbarAuth.classList.toggle('active');
        });
    </script> -->
</body>
</html>